.projectslist-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
}

.projects-container {
    display: inline-block;
    align-content: center;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgb(73, 139, 139);
    margin-bottom: 30px;
    background-color: grey; 
    .image {
        margin: 13px;
        object-fit: scale-down;
        height: 300px;
        width: 350px;
    }
    .title {
        text-align: center;
    }
    .descript {
        color: rgb(255, 250, 250);
        text-align: center;
    }
    .btn {
        cursor: pointer;
        font-size: 15px;
        padding: 15px;
        margin-left:auto;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 980px) {
    .projectslist-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 10px 10px;
        margin: 10px 0px 10px 40px;
    }
    .projects-container {
        display: flex;
        margin: 10px 10px;
        width: 550px;
        justify-content: space-evenly;
        align-content: center;
        .projects-item {
            margin: 20px;
        }
        .title {
            font-size: 2rem;
        }
        .image {
            height: 400px;
            width: 450px;
            border-radius: 10px;
            background-color: black;
            object-fit: cover;
            margin-left: 3%;
        }
        .descript {
            font-size: 25px;
        }
        .btn {
            padding: 15px 40px;
            font-size: 20px;
            border-radius: 20px;
            text-align: center;
            margin-left: auto;
            &:hover{ 
                color: rgb(43, 158, 152);
            }
        }
    }
}