@import '../Components/Footer/footer';
@import '../Components/Navbar/navbar';
@import '../Components/Hero/hero';
@import '../Components/Projects/projects';
@import '../Components/Form/form';

body {
    // max-height: 100vh;
    // max-width: 100vh;
    padding: 0;
    margin: 0;
    background-color: black;
    text-align: center;
    color: white;
}

.me-container {
    display: flex;
    flex: wrap;
    margin: 150% auto auto auto;
    .image {
        margin-left: 11%;
        display: block;
        height: 200px;
        width: 300px;
        // margin:50% auto auto auto;
    }
}
.info-text {
    text-align: center;
    font-size: 20px;
    margin: 15px;
}

.projects-header {
    text-align: center;
    margin: 25px;
}

.resume {
    padding:10px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(9, 163, 163);
}

@media screen and (min-width: 980px) {
    .me-container {
        display: flex;
        flex: wrap;
        margin: 50% auto 3% auto;
        .image {
            border-radius: 100px;
            float: left;
            margin-left: 4%;
            margin-right: 2%;
            display: block;
            height: 450px;
            width: 550px;
            box-shadow: 0px 0px 20px rgb(9, 163, 163);
            // margin:50% auto auto auto;
        }
        .info-text {
            font-size: 2rem;
        }
    }
}